<%- include('./includes/header.ejs') %>

<section class="desktop-card">
  <header class="permissions-header">
    <h1 class="title">Manage Users</h1>
    <a href="./user/add" class="button">+ Add User</a>
  </header>

  <table class="table">
    <thead class="table-header">
      <tr class="table-header-row">
        <th scope="col" class="column-header">Id</th>
        <% if (currentUser.role === 'SUPER_ADMIN') { %>
        <th scope="col" class="column-header">Account</th>
        <% } %>
        <th scope="col" class="column-header">Email</th>
        <th scope="col" class="column-header">Role</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <% userList.forEach(user => { %>
      <tr class="table-row">
        <th scope="row" class="table-data">
          <a href="/admin/user/<%= user.id %>">
            <%= user.id %> </a>
        </th>
        <% if (currentUser.role === 'SUPER_ADMIN') { %>
        <th scope="row" class="table-data">
          <a href="/admin/account/<%= user.account.id %>">
            <%=  user.account.name %> </a>
        </th>
        <% } %>
        <td class="table-data">
          <a href="mailto:<%= user.email %>">
            <%= user.email %> </a>
        </td>
        <td class="table-data">
          <form action="/admin/update-role" method="post" class="form-update-role">
            <input type="hidden" name="userId" value="<%= user.id %>">
            <select name="role" id="role" class="form-input pulldown-menu">
              <% if (user.role === 'SUPER_ADMIN') { %>
              <option value="SUPER_ADMIN" <%= user.role === 'SUPER_ADMIN' ? 'selected' : '' %>>Super-Admin
              </option>
              <% } %>
              <option value="ADMIN" <%= user.role === 'ADMIN' ? 'selected' : '' %>>Admin</option>
              <option value="MANAGER" <%= user.role === 'MANAGER' ? 'selected' : '' %>>Manager</option>
              <option value="EMPLOYEE" <%= user.role === 'EMPLOYEE' ? 'selected' : '' %>>Employee</option>
              <option value="VENDOR" <%= user.role === 'VENDOR' ? 'selected' : '' %>>Vendor</option>
              <option value="CLIENT" <%= user.role === 'CLIENT' ? 'selected' : '' %>>Client</option>
            </select>
            <input type="submit" value="update" class="button button--inline">
          </form>
        </td>
      </tr>
      <% }) %>

    </tbody>
  </table>
  <a href="./user/add" class="button button--form button__form--add">+ Add User</a>

</section>

<%- include('./includes/footer.ejs') %>