<%- include('./includes/header.ejs') %>

<h1 class="title">User Profile</h1>
<section class="content">
  <article class="card">
    <h2 class="profile-title"> <span class="go-back" onclick="window.history.back()">🡨</span>User Profile</h2>
    <div>
      <img src="<%= user.imageUrl %>" alt="">
    </div>
    <div>
      <p class="profile-label">ID</p>
      <p class="profile-value"><%= user.id %></p>
    </div>
    <div>
      <p class="profile-label">Email/Username</p>
      <p class="profile-value"><%= user.email %></p>
    </div>
    <div>
      <p class="profile-label">Role</p>
      <p class="profile-value"><%= user.role %></p>
    </div>
    <div>
      <p class="profile-label">User Object</p>
      <pre class="profile-value">
        <%= user %>
      </pre>
    </div>
  </article>
</section>

<%- include('./includes/footer.ejs') %>